@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

$primary-color: #3aa856;

$primary-font: "Inter", sans-serif;

$background-color: #121212;
$background-secondary-color: #242424;

$text-color-white: white;
$text-color-black: #212427;
