@import "../../styles/variables.scss";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  background-image: url(../../assets/img/background30.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: $text-color-white;
  z-index: 999;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid white;

  .modal-title {
    font-family: $primary-font-bold;
    font-weight: bold;
    font-size: 20rem;
  }

  .modal-title-right {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-size: 14rem;
      color: yellow;
    }
  }

  button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
}

.modal-body {
  padding: 30px;

  .modal-body-top {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
  .color-input {
    width: 60px;
    height: 40px;
  }

  .color-name-input {
    width: 100%;
    padding: 0px 10px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: white;
    color: $text-color-black;

    &::placeholder {
      font-family: $primary-font;
      font-weight: bold;
    }
  }

  .add-color-btn {
    width: 100%;
    margin-top: 14px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 18rem;
    color: white;
    background-color: $primary-color;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      background-color: lighten($primary-color, 5);
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Phones */
@media only screen and (max-width: 767px) {
  .modal {
    width: 100%;
  }
}
