@import "../../styles/variables.scss";

.color-item {
  width: 100%;
  height: auto;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 6px;
  color: $text-color-white;
  font-weight: bold;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 8px;
  border: 2px solid white;

  .color-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;

    .color-box {
      width: 39px;
      height: 39px;
      border-radius: 3px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
  }

  .flex-start {
    width: 40%;
    display: flex;
    gap: 8px;
    justify-content: start;
  }

  .color-item-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    position: relative;

    button {
      width: 20px;
      height: 20px;
      appearance: none;
      border: none;
      background-color: transparent;
      background-image: url(../../assets/img/trash-solid.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      margin-left: 15px;
      transition: transform 90ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
